<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ups.demo.dao.CorePointTableMapper" >
  <resultMap id="BaseResultMap" type="com.ups.demo.pojo.CorePointTable" >
    <id column="int_core_id" property="intCoreId" jdbcType="INTEGER" />
    <result column="int_dtype_id" property="intDtypeId" jdbcType="INTEGER" />
    <result column="str_data_name" property="strDataName" jdbcType="VARCHAR" />
    <result column="int_data_range_min" property="intDataRangeMin" jdbcType="INTEGER" />
    <result column="int_data_range_max" property="intDataRangeMax" jdbcType="INTEGER" />
    <result column="str_data_unit" property="strDataUnit" jdbcType="VARCHAR" />
    <result column="str_alarm_rules" property="strAlarmRules" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    int_core_id, int_dtype_id, str_data_name, int_data_range_min, int_data_range_max, 
    str_data_unit, str_alarm_rules
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_core_point_table
    where int_core_id = #{intCoreId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_core_point_table
    where int_core_id = #{intCoreId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ups.demo.pojo.CorePointTable" >
    insert into t_core_point_table (int_core_id, int_dtype_id, str_data_name, 
      int_data_range_min, int_data_range_max, str_data_unit, 
      str_alarm_rules)
    values (#{intCoreId,jdbcType=INTEGER}, #{intDtypeId,jdbcType=INTEGER}, #{strDataName,jdbcType=VARCHAR}, 
      #{intDataRangeMin,jdbcType=INTEGER}, #{intDataRangeMax,jdbcType=INTEGER}, #{strDataUnit,jdbcType=VARCHAR}, 
      #{strAlarmRules,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ups.demo.pojo.CorePointTable" >
    insert into t_core_point_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="intCoreId != null" >
        int_core_id,
      </if>
      <if test="intDtypeId != null" >
        int_dtype_id,
      </if>
      <if test="strDataName != null" >
        str_data_name,
      </if>
      <if test="intDataRangeMin != null" >
        int_data_range_min,
      </if>
      <if test="intDataRangeMax != null" >
        int_data_range_max,
      </if>
      <if test="strDataUnit != null" >
        str_data_unit,
      </if>
      <if test="strAlarmRules != null" >
        str_alarm_rules,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="intCoreId != null" >
        #{intCoreId,jdbcType=INTEGER},
      </if>
      <if test="intDtypeId != null" >
        #{intDtypeId,jdbcType=INTEGER},
      </if>
      <if test="strDataName != null" >
        #{strDataName,jdbcType=VARCHAR},
      </if>
      <if test="intDataRangeMin != null" >
        #{intDataRangeMin,jdbcType=INTEGER},
      </if>
      <if test="intDataRangeMax != null" >
        #{intDataRangeMax,jdbcType=INTEGER},
      </if>
      <if test="strDataUnit != null" >
        #{strDataUnit,jdbcType=VARCHAR},
      </if>
      <if test="strAlarmRules != null" >
        #{strAlarmRules,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ups.demo.pojo.CorePointTable" >
    update t_core_point_table
    <set >
      <if test="intDtypeId != null" >
        int_dtype_id = #{intDtypeId,jdbcType=INTEGER},
      </if>
      <if test="strDataName != null" >
        str_data_name = #{strDataName,jdbcType=VARCHAR},
      </if>
      <if test="intDataRangeMin != null" >
        int_data_range_min = #{intDataRangeMin,jdbcType=INTEGER},
      </if>
      <if test="intDataRangeMax != null" >
        int_data_range_max = #{intDataRangeMax,jdbcType=INTEGER},
      </if>
      <if test="strDataUnit != null" >
        str_data_unit = #{strDataUnit,jdbcType=VARCHAR},
      </if>
      <if test="strAlarmRules != null" >
        str_alarm_rules = #{strAlarmRules,jdbcType=VARCHAR},
      </if>
    </set>
    where int_core_id = #{intCoreId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ups.demo.pojo.CorePointTable" >
    update t_core_point_table
    set int_dtype_id = #{intDtypeId,jdbcType=INTEGER},
      str_data_name = #{strDataName,jdbcType=VARCHAR},
      int_data_range_min = #{intDataRangeMin,jdbcType=INTEGER},
      int_data_range_max = #{intDataRangeMax,jdbcType=INTEGER},
      str_data_unit = #{strDataUnit,jdbcType=VARCHAR},
      str_alarm_rules = #{strAlarmRules,jdbcType=VARCHAR}
    where int_core_id = #{intCoreId,jdbcType=INTEGER}
  </update>
</mapper>