<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ups.demo.dao.CorePointTableMapper" >
  <resultMap id="BaseResultMap" type="com.ups.demo.pojo.CorePointTable" >
    <id column="str_core_id" property="strCoreId" jdbcType="VARCHAR" />
    <result column="str_data_name" property="strDataName" jdbcType="VARCHAR" />
    <result column="str_data_range" property="strDataRange" jdbcType="VARCHAR" />
    <result column="str_data_unit" property="strDataUnit" jdbcType="VARCHAR" />
    <result column="str_alarm_rules" property="strAlarmRules" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    str_core_id, str_data_name, str_data_range, str_data_unit, str_alarm_rules
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_core_point_table
    where str_core_id = #{strCoreId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_core_point_table
    where str_core_id = #{strCoreId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ups.demo.pojo.CorePointTable" >
    insert into t_core_point_table (str_core_id, str_data_name, str_data_range, 
      str_data_unit, str_alarm_rules)
    values (#{strCoreId,jdbcType=VARCHAR}, #{strDataName,jdbcType=VARCHAR}, #{strDataRange,jdbcType=VARCHAR}, 
      #{strDataUnit,jdbcType=VARCHAR}, #{strAlarmRules,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ups.demo.pojo.CorePointTable" >
    insert into t_core_point_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="strCoreId != null" >
        str_core_id,
      </if>
      <if test="strDataName != null" >
        str_data_name,
      </if>
      <if test="strDataRange != null" >
        str_data_range,
      </if>
      <if test="strDataUnit != null" >
        str_data_unit,
      </if>
      <if test="strAlarmRules != null" >
        str_alarm_rules,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="strCoreId != null" >
        #{strCoreId,jdbcType=VARCHAR},
      </if>
      <if test="strDataName != null" >
        #{strDataName,jdbcType=VARCHAR},
      </if>
      <if test="strDataRange != null" >
        #{strDataRange,jdbcType=VARCHAR},
      </if>
      <if test="strDataUnit != null" >
        #{strDataUnit,jdbcType=VARCHAR},
      </if>
      <if test="strAlarmRules != null" >
        #{strAlarmRules,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ups.demo.pojo.CorePointTable" >
    update t_core_point_table
    <set >
      <if test="strDataName != null" >
        str_data_name = #{strDataName,jdbcType=VARCHAR},
      </if>
      <if test="strDataRange != null" >
        str_data_range = #{strDataRange,jdbcType=VARCHAR},
      </if>
      <if test="strDataUnit != null" >
        str_data_unit = #{strDataUnit,jdbcType=VARCHAR},
      </if>
      <if test="strAlarmRules != null" >
        str_alarm_rules = #{strAlarmRules,jdbcType=VARCHAR},
      </if>
    </set>
    where str_core_id = #{strCoreId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ups.demo.pojo.CorePointTable" >
    update t_core_point_table
    set str_data_name = #{strDataName,jdbcType=VARCHAR},
      str_data_range = #{strDataRange,jdbcType=VARCHAR},
      str_data_unit = #{strDataUnit,jdbcType=VARCHAR},
      str_alarm_rules = #{strAlarmRules,jdbcType=VARCHAR}
    where str_core_id = #{strCoreId,jdbcType=VARCHAR}
  </update>
</mapper>