<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ups.demo.dao.DataMapper">
  <resultMap id="BaseResultMap" type="com.ups.demo.pojo.Data">
    <id column="str_read_time" jdbcType="VARCHAR" property="strReadTime" />
    <result column="int_data_id" jdbcType="INTEGER" property="intDataId" />
    <result column="int_device_id" jdbcType="INTEGER" property="intDeviceId" />
    <result column="str_data_name" jdbcType="VARCHAR" property="strDataName" />
    <result column="double_read_values" jdbcType="DOUBLE" property="doubleReadValues" />
    <result column="str_number_type" jdbcType="VARCHAR" property="strNumberType" />
  </resultMap>
  <sql id="Base_Column_List">
    str_read_time, int_data_id, int_device_id, str_data_name, double_read_values, str_number_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_data
    where str_read_time = #{strReadTime,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_data
    where str_read_time = #{strReadTime,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ups.demo.pojo.Data">
    insert into t_data (str_read_time, int_data_id, int_device_id, 
      str_data_name, double_read_values, str_number_type
      )
    values (#{strReadTime,jdbcType=VARCHAR}, #{intDataId,jdbcType=INTEGER}, #{intDeviceId,jdbcType=INTEGER}, 
      #{strDataName,jdbcType=VARCHAR}, #{doubleReadValues,jdbcType=DOUBLE}, #{strNumberType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ups.demo.pojo.Data">
    insert into t_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="strReadTime != null">
        str_read_time,
      </if>
      <if test="intDataId != null">
        int_data_id,
      </if>
      <if test="intDeviceId != null">
        int_device_id,
      </if>
      <if test="strDataName != null">
        str_data_name,
      </if>
      <if test="doubleReadValues != null">
        double_read_values,
      </if>
      <if test="strNumberType != null">
        str_number_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="strReadTime != null">
        #{strReadTime,jdbcType=VARCHAR},
      </if>
      <if test="intDataId != null">
        #{intDataId,jdbcType=INTEGER},
      </if>
      <if test="intDeviceId != null">
        #{intDeviceId,jdbcType=INTEGER},
      </if>
      <if test="strDataName != null">
        #{strDataName,jdbcType=VARCHAR},
      </if>
      <if test="doubleReadValues != null">
        #{doubleReadValues,jdbcType=DOUBLE},
      </if>
      <if test="strNumberType != null">
        #{strNumberType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ups.demo.pojo.Data">
    update t_data
    <set>
      <if test="intDataId != null">
        int_data_id = #{intDataId,jdbcType=INTEGER},
      </if>
      <if test="intDeviceId != null">
        int_device_id = #{intDeviceId,jdbcType=INTEGER},
      </if>
      <if test="strDataName != null">
        str_data_name = #{strDataName,jdbcType=VARCHAR},
      </if>
      <if test="doubleReadValues != null">
        double_read_values = #{doubleReadValues,jdbcType=DOUBLE},
      </if>
      <if test="strNumberType != null">
        str_number_type = #{strNumberType,jdbcType=VARCHAR},
      </if>
    </set>
    where str_read_time = #{strReadTime,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ups.demo.pojo.Data">
    update t_data
    set int_data_id = #{intDataId,jdbcType=INTEGER},
      int_device_id = #{intDeviceId,jdbcType=INTEGER},
      str_data_name = #{strDataName,jdbcType=VARCHAR},
      double_read_values = #{doubleReadValues,jdbcType=DOUBLE},
      str_number_type = #{strNumberType,jdbcType=VARCHAR}
    where str_read_time = #{strReadTime,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.ups.demo.pojo.Data">
    <id column="str_read_time" jdbcType="VARCHAR" property="strReadTime" />
    <result column="str_number_type" jdbcType="VARCHAR" property="strNumberType" />
    <result column="str_data_type" jdbcType="VARCHAR" property="strDataType" />
    <result column="str_data_name" jdbcType="VARCHAR" property="strDataName" />
    <result column="double_read_values" jdbcType="DOUBLE" property="doubleReadValues" />
    <result column="double_parsed_values" jdbcType="DOUBLE" property="doubleParsedValues" />
    <result column="str_data_address" jdbcType="VARCHAR" property="strDataAddress" />
    <result column="str_bits" jdbcType="VARCHAR" property="strBits" />
    <result column="str_unit" jdbcType="VARCHAR" property="strUnit" />
    <result column="str_id" jdbcType="VARCHAR" property="strId" />
  </resultMap>
  <sql id="Base_Column_List">
    str_read_time, str_number_type, str_data_type, str_data_name, double_read_values, 
    double_parsed_values, str_data_address, str_bits, str_unit, str_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_data
    where str_read_time = #{strReadTime,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_data
    where str_read_time = #{strReadTime,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ups.demo.pojo.Data">
    insert into t_data (str_read_time, str_number_type, str_data_type, 
      str_data_name, double_read_values, double_parsed_values, 
      str_data_address, str_bits, str_unit, 
      str_id)
    values (#{strReadTime,jdbcType=VARCHAR}, #{strNumberType,jdbcType=VARCHAR}, #{strDataType,jdbcType=VARCHAR}, 
      #{strDataName,jdbcType=VARCHAR}, #{doubleReadValues,jdbcType=DOUBLE}, #{doubleParsedValues,jdbcType=DOUBLE}, 
      #{strDataAddress,jdbcType=VARCHAR}, #{strBits,jdbcType=VARCHAR}, #{strUnit,jdbcType=VARCHAR}, 
      #{strId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ups.demo.pojo.Data">
    insert into t_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="strReadTime != null">
        str_read_time,
      </if>
      <if test="strNumberType != null">
        str_number_type,
      </if>
      <if test="strDataType != null">
        str_data_type,
      </if>
      <if test="strDataName != null">
        str_data_name,
      </if>
      <if test="doubleReadValues != null">
        double_read_values,
      </if>
      <if test="doubleParsedValues != null">
        double_parsed_values,
      </if>
      <if test="strDataAddress != null">
        str_data_address,
      </if>
      <if test="strBits != null">
        str_bits,
      </if>
      <if test="strUnit != null">
        str_unit,
      </if>
      <if test="strId != null">
        str_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="strReadTime != null">
        #{strReadTime,jdbcType=VARCHAR},
      </if>
      <if test="strNumberType != null">
        #{strNumberType,jdbcType=VARCHAR},
      </if>
      <if test="strDataType != null">
        #{strDataType,jdbcType=VARCHAR},
      </if>
      <if test="strDataName != null">
        #{strDataName,jdbcType=VARCHAR},
      </if>
      <if test="doubleReadValues != null">
        #{doubleReadValues,jdbcType=DOUBLE},
      </if>
      <if test="doubleParsedValues != null">
        #{doubleParsedValues,jdbcType=DOUBLE},
      </if>
      <if test="strDataAddress != null">
        #{strDataAddress,jdbcType=VARCHAR},
      </if>
      <if test="strBits != null">
        #{strBits,jdbcType=VARCHAR},
      </if>
      <if test="strUnit != null">
        #{strUnit,jdbcType=VARCHAR},
      </if>
      <if test="strId != null">
        #{strId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ups.demo.pojo.Data">
    update t_data
    <set>
      <if test="strNumberType != null">
        str_number_type = #{strNumberType,jdbcType=VARCHAR},
      </if>
      <if test="strDataType != null">
        str_data_type = #{strDataType,jdbcType=VARCHAR},
      </if>
      <if test="strDataName != null">
        str_data_name = #{strDataName,jdbcType=VARCHAR},
      </if>
      <if test="doubleReadValues != null">
        double_read_values = #{doubleReadValues,jdbcType=DOUBLE},
      </if>
      <if test="doubleParsedValues != null">
        double_parsed_values = #{doubleParsedValues,jdbcType=DOUBLE},
      </if>
      <if test="strDataAddress != null">
        str_data_address = #{strDataAddress,jdbcType=VARCHAR},
      </if>
      <if test="strBits != null">
        str_bits = #{strBits,jdbcType=VARCHAR},
      </if>
      <if test="strUnit != null">
        str_unit = #{strUnit,jdbcType=VARCHAR},
      </if>
      <if test="strId != null">
        str_id = #{strId,jdbcType=VARCHAR},
      </if>
    </set>
    where str_read_time = #{strReadTime,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ups.demo.pojo.Data">
    update t_data
    set str_number_type = #{strNumberType,jdbcType=VARCHAR},
      str_data_type = #{strDataType,jdbcType=VARCHAR},
      str_data_name = #{strDataName,jdbcType=VARCHAR},
      double_read_values = #{doubleReadValues,jdbcType=DOUBLE},
      double_parsed_values = #{doubleParsedValues,jdbcType=DOUBLE},
      str_data_address = #{strDataAddress,jdbcType=VARCHAR},
      str_bits = #{strBits,jdbcType=VARCHAR},
      str_unit = #{strUnit,jdbcType=VARCHAR},
      str_id = #{strId,jdbcType=VARCHAR}
    where str_read_time = #{strReadTime,jdbcType=VARCHAR}
  </update>
</mapper>