<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ups.demo.dao.DataMapper" >
  <resultMap id="BaseResultMap" type="com.ups.demo.pojo.Data" >
    <id column="str_read_time" property="strReadTime" jdbcType="VARCHAR" />
    <result column="str_data_type" property="strDataType" jdbcType="VARCHAR" />
    <result column="str_data_name" property="strDataName" jdbcType="VARCHAR" />
    <result column="double_read_values" property="doubleReadValues" jdbcType="DOUBLE" />
    <result column="double_parsed_values" property="doubleParsedValues" jdbcType="DOUBLE" />
    <result column="str_data_address" property="strDataAddress" jdbcType="VARCHAR" />
    <result column="str_bits" property="strBits" jdbcType="VARCHAR" />
    <result column="str_unit" property="strUnit" jdbcType="VARCHAR" />
    <result column="str_number_type" property="strNumberType" jdbcType="VARCHAR" />
    <result column="str_id" property="strId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    str_read_time, str_data_type, str_data_name, double_read_values, double_parsed_values, 
    str_data_address, str_bits, str_unit, str_number_type, str_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_data
    where str_read_time = #{strReadTime,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_data
    where str_read_time = #{strReadTime,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ups.demo.pojo.Data" >
    insert into t_data (str_read_time, str_data_type, str_data_name, 
      double_read_values, double_parsed_values, str_data_address, 
      str_bits, str_unit, str_number_type, 
      str_id)
    values (#{strReadTime,jdbcType=VARCHAR}, #{strDataType,jdbcType=VARCHAR}, #{strDataName,jdbcType=VARCHAR}, 
      #{doubleReadValues,jdbcType=DOUBLE}, #{doubleParsedValues,jdbcType=DOUBLE}, #{strDataAddress,jdbcType=VARCHAR}, 
      #{strBits,jdbcType=VARCHAR}, #{strUnit,jdbcType=VARCHAR}, #{strNumberType,jdbcType=VARCHAR}, 
      #{strId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ups.demo.pojo.Data" >
    insert into t_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="strReadTime != null" >
        str_read_time,
      </if>
      <if test="strDataType != null" >
        str_data_type,
      </if>
      <if test="strDataName != null" >
        str_data_name,
      </if>
      <if test="doubleReadValues != null" >
        double_read_values,
      </if>
      <if test="doubleParsedValues != null" >
        double_parsed_values,
      </if>
      <if test="strDataAddress != null" >
        str_data_address,
      </if>
      <if test="strBits != null" >
        str_bits,
      </if>
      <if test="strUnit != null" >
        str_unit,
      </if>
      <if test="strNumberType != null" >
        str_number_type,
      </if>
      <if test="strId != null" >
        str_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="strReadTime != null" >
        #{strReadTime,jdbcType=VARCHAR},
      </if>
      <if test="strDataType != null" >
        #{strDataType,jdbcType=VARCHAR},
      </if>
      <if test="strDataName != null" >
        #{strDataName,jdbcType=VARCHAR},
      </if>
      <if test="doubleReadValues != null" >
        #{doubleReadValues,jdbcType=DOUBLE},
      </if>
      <if test="doubleParsedValues != null" >
        #{doubleParsedValues,jdbcType=DOUBLE},
      </if>
      <if test="strDataAddress != null" >
        #{strDataAddress,jdbcType=VARCHAR},
      </if>
      <if test="strBits != null" >
        #{strBits,jdbcType=VARCHAR},
      </if>
      <if test="strUnit != null" >
        #{strUnit,jdbcType=VARCHAR},
      </if>
      <if test="strNumberType != null" >
        #{strNumberType,jdbcType=VARCHAR},
      </if>
      <if test="strId != null" >
        #{strId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ups.demo.pojo.Data" >
    update t_data
    <set >
      <if test="strDataType != null" >
        str_data_type = #{strDataType,jdbcType=VARCHAR},
      </if>
      <if test="strDataName != null" >
        str_data_name = #{strDataName,jdbcType=VARCHAR},
      </if>
      <if test="doubleReadValues != null" >
        double_read_values = #{doubleReadValues,jdbcType=DOUBLE},
      </if>
      <if test="doubleParsedValues != null" >
        double_parsed_values = #{doubleParsedValues,jdbcType=DOUBLE},
      </if>
      <if test="strDataAddress != null" >
        str_data_address = #{strDataAddress,jdbcType=VARCHAR},
      </if>
      <if test="strBits != null" >
        str_bits = #{strBits,jdbcType=VARCHAR},
      </if>
      <if test="strUnit != null" >
        str_unit = #{strUnit,jdbcType=VARCHAR},
      </if>
      <if test="strNumberType != null" >
        str_number_type = #{strNumberType,jdbcType=VARCHAR},
      </if>
      <if test="strId != null" >
        str_id = #{strId,jdbcType=VARCHAR},
      </if>
    </set>
    where str_read_time = #{strReadTime,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ups.demo.pojo.Data" >
    update t_data
    set str_data_type = #{strDataType,jdbcType=VARCHAR},
      str_data_name = #{strDataName,jdbcType=VARCHAR},
      double_read_values = #{doubleReadValues,jdbcType=DOUBLE},
      double_parsed_values = #{doubleParsedValues,jdbcType=DOUBLE},
      str_data_address = #{strDataAddress,jdbcType=VARCHAR},
      str_bits = #{strBits,jdbcType=VARCHAR},
      str_unit = #{strUnit,jdbcType=VARCHAR},
      str_number_type = #{strNumberType,jdbcType=VARCHAR},
      str_id = #{strId,jdbcType=VARCHAR}
    where str_read_time = #{strReadTime,jdbcType=VARCHAR}
  </update>
</mapper>