<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ups.demo.dao.DeviceMapper" >
  <resultMap id="BaseResultMap" type="com.ups.demo.pojo.Device" >
    <id column="int_device_id" property="intDeviceId" jdbcType="INTEGER" />
    <result column="int_core_id" property="intCoreId" jdbcType="INTEGER" />
    <result column="int_user_id" property="intUserId" jdbcType="INTEGER" />
    <result column="str_device_name" property="strDeviceName" jdbcType="VARCHAR" />
    <result column="str_device_address" property="strDeviceAddress" jdbcType="VARCHAR" />
    <result column="str_code_id" property="strCodeId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    int_device_id, int_core_id, int_user_id, str_device_name, str_device_address, str_code_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_device
    where int_device_id = #{intDeviceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_device
    where int_device_id = #{intDeviceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ups.demo.pojo.Device" >
    insert into t_device (int_device_id, int_core_id, int_user_id, 
      str_device_name, str_device_address, str_code_id
      )
    values (#{intDeviceId,jdbcType=INTEGER}, #{intCoreId,jdbcType=INTEGER}, #{intUserId,jdbcType=INTEGER}, 
      #{strDeviceName,jdbcType=VARCHAR}, #{strDeviceAddress,jdbcType=VARCHAR}, #{strCodeId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ups.demo.pojo.Device" >
    insert into t_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="intDeviceId != null" >
        int_device_id,
      </if>
      <if test="intCoreId != null" >
        int_core_id,
      </if>
      <if test="intUserId != null" >
        int_user_id,
      </if>
      <if test="strDeviceName != null" >
        str_device_name,
      </if>
      <if test="strDeviceAddress != null" >
        str_device_address,
      </if>
      <if test="strCodeId != null" >
        str_code_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="intDeviceId != null" >
        #{intDeviceId,jdbcType=INTEGER},
      </if>
      <if test="intCoreId != null" >
        #{intCoreId,jdbcType=INTEGER},
      </if>
      <if test="intUserId != null" >
        #{intUserId,jdbcType=INTEGER},
      </if>
      <if test="strDeviceName != null" >
        #{strDeviceName,jdbcType=VARCHAR},
      </if>
      <if test="strDeviceAddress != null" >
        #{strDeviceAddress,jdbcType=VARCHAR},
      </if>
      <if test="strCodeId != null" >
        #{strCodeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ups.demo.pojo.Device" >
    update t_device
    <set >
      <if test="intCoreId != null" >
        int_core_id = #{intCoreId,jdbcType=INTEGER},
      </if>
      <if test="intUserId != null" >
        int_user_id = #{intUserId,jdbcType=INTEGER},
      </if>
      <if test="strDeviceName != null" >
        str_device_name = #{strDeviceName,jdbcType=VARCHAR},
      </if>
      <if test="strDeviceAddress != null" >
        str_device_address = #{strDeviceAddress,jdbcType=VARCHAR},
      </if>
      <if test="strCodeId != null" >
        str_code_id = #{strCodeId,jdbcType=VARCHAR},
      </if>
    </set>
    where int_device_id = #{intDeviceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ups.demo.pojo.Device" >
    update t_device
    set int_core_id = #{intCoreId,jdbcType=INTEGER},
      int_user_id = #{intUserId,jdbcType=INTEGER},
      str_device_name = #{strDeviceName,jdbcType=VARCHAR},
      str_device_address = #{strDeviceAddress,jdbcType=VARCHAR},
      str_code_id = #{strCodeId,jdbcType=VARCHAR}
    where int_device_id = #{intDeviceId,jdbcType=INTEGER}
  </update>
</mapper>