<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ups.demo.dao.DeviceTypeMapper" >
  <resultMap id="BaseResultMap" type="com.ups.demo.pojo.DeviceType" >
    <id column="str_type_id" property="strTypeId" jdbcType="VARCHAR" />
    <result column="str_type_name" property="strTypeName" jdbcType="VARCHAR" />
    <result column="str_core_id" property="strCoreId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    str_type_id, str_type_name, str_core_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_device_type
    where str_type_id = #{strTypeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_device_type
    where str_type_id = #{strTypeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ups.demo.pojo.DeviceType" >
    insert into t_device_type (str_type_id, str_type_name, str_core_id
      )
    values (#{strTypeId,jdbcType=VARCHAR}, #{strTypeName,jdbcType=VARCHAR}, #{strCoreId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ups.demo.pojo.DeviceType" >
    insert into t_device_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="strTypeId != null" >
        str_type_id,
      </if>
      <if test="strTypeName != null" >
        str_type_name,
      </if>
      <if test="strCoreId != null" >
        str_core_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="strTypeId != null" >
        #{strTypeId,jdbcType=VARCHAR},
      </if>
      <if test="strTypeName != null" >
        #{strTypeName,jdbcType=VARCHAR},
      </if>
      <if test="strCoreId != null" >
        #{strCoreId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ups.demo.pojo.DeviceType" >
    update t_device_type
    <set >
      <if test="strTypeName != null" >
        str_type_name = #{strTypeName,jdbcType=VARCHAR},
      </if>
      <if test="strCoreId != null" >
        str_core_id = #{strCoreId,jdbcType=VARCHAR},
      </if>
    </set>
    where str_type_id = #{strTypeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ups.demo.pojo.DeviceType" >
    update t_device_type
    set str_type_name = #{strTypeName,jdbcType=VARCHAR},
      str_core_id = #{strCoreId,jdbcType=VARCHAR}
    where str_type_id = #{strTypeId,jdbcType=VARCHAR}
  </update>
</mapper>