<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ups.demo.dao.DeviceMapper" >
  <resultMap id="BaseResultMap" type="com.ups.demo.pojo.Device" >
    <id column="str_id" property="strId" jdbcType="VARCHAR" />
    <result column="str_device_name" property="strDeviceName" jdbcType="VARCHAR" />
    <result column="str_model_id" property="strModelId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    str_id, str_device_name, str_model_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_device
    where str_id = #{strId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_device
    where str_id = #{strId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ups.demo.pojo.Device" >
    insert into t_device (str_id, str_device_name, str_model_id
      )
    values (#{strId,jdbcType=VARCHAR}, #{strDeviceName,jdbcType=VARCHAR}, #{strModelId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ups.demo.pojo.Device" >
    insert into t_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="strId != null" >
        str_id,
      </if>
      <if test="strDeviceName != null" >
        str_device_name,
      </if>
      <if test="strModelId != null" >
        str_model_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="strId != null" >
        #{strId,jdbcType=VARCHAR},
      </if>
      <if test="strDeviceName != null" >
        #{strDeviceName,jdbcType=VARCHAR},
      </if>
      <if test="strModelId != null" >
        #{strModelId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ups.demo.pojo.Device" >
    update t_device
    <set >
      <if test="strDeviceName != null" >
        str_device_name = #{strDeviceName,jdbcType=VARCHAR},
      </if>
      <if test="strModelId != null" >
        str_model_id = #{strModelId,jdbcType=VARCHAR},
      </if>
    </set>
    where str_id = #{strId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ups.demo.pojo.Device" >
    update t_device
    set str_device_name = #{strDeviceName,jdbcType=VARCHAR},
      str_model_id = #{strModelId,jdbcType=VARCHAR}
    where str_id = #{strId,jdbcType=VARCHAR}
  </update>
</mapper>