<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ups.demo.dao.DeviceModelMapper" >
  <resultMap id="BaseResultMap" type="com.ups.demo.pojo.DeviceModel" >
    <id column="str_model_id" property="strModelId" jdbcType="VARCHAR" />
    <result column="str_model_name" property="strModelName" jdbcType="VARCHAR" />
    <result column="str_table_id" property="strTableId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    str_model_id, str_model_name, str_table_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_device_model
    where str_model_id = #{strModelId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_device_model
    where str_model_id = #{strModelId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ups.demo.pojo.DeviceModel" >
    insert into t_device_model (str_model_id, str_model_name, str_table_id
      )
    values (#{strModelId,jdbcType=VARCHAR}, #{strModelName,jdbcType=VARCHAR}, #{strTableId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ups.demo.pojo.DeviceModel" >
    insert into t_device_model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="strModelId != null" >
        str_model_id,
      </if>
      <if test="strModelName != null" >
        str_model_name,
      </if>
      <if test="strTableId != null" >
        str_table_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="strModelId != null" >
        #{strModelId,jdbcType=VARCHAR},
      </if>
      <if test="strModelName != null" >
        #{strModelName,jdbcType=VARCHAR},
      </if>
      <if test="strTableId != null" >
        #{strTableId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ups.demo.pojo.DeviceModel" >
    update t_device_model
    <set >
      <if test="strModelName != null" >
        str_model_name = #{strModelName,jdbcType=VARCHAR},
      </if>
      <if test="strTableId != null" >
        str_table_id = #{strTableId,jdbcType=VARCHAR},
      </if>
    </set>
    where str_model_id = #{strModelId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ups.demo.pojo.DeviceModel" >
    update t_device_model
    set str_model_name = #{strModelName,jdbcType=VARCHAR},
      str_table_id = #{strTableId,jdbcType=VARCHAR}
    where str_model_id = #{strModelId,jdbcType=VARCHAR}
  </update>
</mapper>