<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ups.demo.dao.DeviceManagerMapper" >
  <resultMap id="BaseResultMap" type="com.ups.demo.pojo.DeviceManagerKey" >
    <id column="str_id" property="strId" jdbcType="VARCHAR" />
    <id column="str_user_id" property="strUserId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.ups.demo.pojo.DeviceManagerKey" >
    delete from t_device_manager_relation
    where str_id = #{strId,jdbcType=VARCHAR}
      and str_user_id = #{strUserId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ups.demo.pojo.DeviceManagerKey" >
    insert into t_device_manager_relation (str_id, str_user_id)
    values (#{strId,jdbcType=VARCHAR}, #{strUserId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ups.demo.pojo.DeviceManagerKey" >
    insert into t_device_manager_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="strId != null" >
        str_id,
      </if>
      <if test="strUserId != null" >
        str_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="strId != null" >
        #{strId,jdbcType=VARCHAR},
      </if>
      <if test="strUserId != null" >
        #{strUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>