<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ups.demo.dao.ModelSeriesMapper" >
  <resultMap id="BaseResultMap" type="com.ups.demo.pojo.ModelSeriesKey" >
    <id column="str_model_id" property="strModelId" jdbcType="VARCHAR" />
    <id column="str_series_id" property="strSeriesId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.ups.demo.pojo.ModelSeriesKey" >
    delete from t_model_series_relation
    where str_model_id = #{strModelId,jdbcType=VARCHAR}
      and str_series_id = #{strSeriesId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ups.demo.pojo.ModelSeriesKey" >
    insert into t_model_series_relation (str_model_id, str_series_id)
    values (#{strModelId,jdbcType=VARCHAR}, #{strSeriesId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ups.demo.pojo.ModelSeriesKey" >
    insert into t_model_series_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="strModelId != null" >
        str_model_id,
      </if>
      <if test="strSeriesId != null" >
        str_series_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="strModelId != null" >
        #{strModelId,jdbcType=VARCHAR},
      </if>
      <if test="strSeriesId != null" >
        #{strSeriesId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>